<div class = "chat-wrapper">
    <div class="comments-wrapper" #commentsWrapper>

        <chat-comment *ngFor = "let comment of comments" [comment] = "comment" >
 
        </chat-comment>
    </div>

    <div class = "add-comment-wrapper">
        <div class = "logo"></div>
        <textarea (input) = "setCommentValue($event)" [value] = "commentValue" [disabled] = "!chatAuthenticated"></textarea>
    </div>
    <app-button width = "100%" (click)="addComment()" [disabled] = "!chatAuthenticated" 
        [themeStyle] = "{
            border: 0,
            borderTop: '1px solid var(--content-border)'
        }"
    >Comment</app-button>
</div>

<div class = "users-wrapper">
    <div *ngIf = "users.length === 0" class = "empty">
        No users
    </div>
    <div *ngFor = "let user of users" class = "user">
        <div class="user-wrapper">
            <div class="content-left">
                <div class="logo"></div>
            </div>
            
            <div class="content-right">
                <div class="username">{{user.username}}</div>
            </div>
        </div>
    </div>


    
</div>