<div class = "header">
    <div class="content">
        <div class = "navigation">
            <a class = "item" [routerLink] = "['/']">
                <span>
                    home
                </span>
            </a> 
            <a class = "item" [routerLink] = "['/register']">
                <span>
                    register
                </span>
            </a> 
            <a class = "item" [routerLink] = "['/signin']">
                <span>
                    signin
                </span>
            </a>         
        </div>

        <div class = "user">
            <div class="username">
                {{username}}
            </div>
        </div>
    </div>
</div>