<div class = "header">
    <div class="content">
        <div class = "navigation">
            <a class = "item" [routerLink] = "['/']">
                <span>
                    chat
                </span>
            </a> 
            <a *ngIf = "!username" class = "item" [routerLink] = "['/register']">
                <span>
                    register
                </span>
            </a> 
            <a *ngIf = "!username" class = "item" [routerLink] = "['/signin']">
                <span>
                    signin
                </span>
            </a>         
        </div>

        <div *ngIf = "username" class = "user">
            <div class="signout" (click) = "signOut()">
                sign out
            </div>
            <div class="username">
                {{username}}
            </div>
        </div>
    </div>
</div>