

 <div class="wrapper">
     Sign In: <br /> <br />
     <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
         <app-input 
            type="text" 
            name = "username" 
            formControlName = "username" 
            label = "Username:"
            width = "100%"
             
         >
         </app-input>
         <app-input 
            type="password" 
            name = "password" 
            formControlName = "password" 
            label = "Password:"
            width = "100%"
         >
         </app-input>
     
      
         <br />
         <input type="submit" value="Submit" />
     
        
     </form>

 </div>     
