.wrapper {
    margin-bottom: 1rem;
}
.label {
    margin-bottom: .5rem;
}
input {
    border: 1px solid var(--input-field-border);
    background: var(--input-field-background);
    height: 2rem;
    outline: none;
    padding: 0 .5rem;
    color: rgb(40,40,40);
    font-size: .75rem;

}
.error{
    margin-top: .25rem;
    color: #cc0000;
}