apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
spec:
  template:
    spec:
      containers:
      - name: testapp-fe
        image: preedus/testapp-fe:v1.1
        env:
        - name: API_HOST
          valueFrom:
            configMapKeyRef:
                name: frontend-configmap
                key: API_HOST
        - name: API_PORT
          valueFrom:
            configMapKeyRef:
                name: frontend-configmap
                key: API_PORT

        #imagePullPolicy: Never
        ports:
        - containerPort: 80

