
# namePrefix: prod-
nameSuffix: -prod
commonLabels:
    #- path: metadata/labels
      variant: prod
bases:
    - ../../base

configMapGenerator:
  - name: frontend-configmap
    behavior: merge
    literals:
      - API_HOST="http://backend-prod.default.svc.cluster.local"
      - API_PORT="5000"

#secretGenerator:
#  - name: backend-env-secret
#    behavior: merge
#    files:
#      - ".env"
#    literals:
#      - key1=overlay
#      - key2=overlay
#  - name: mongo-init
#    behavior: merge
#    files:
#      - "init.js"
  
resources:
  - mongo.yaml

patchesStrategicMerge:
  - backend.yaml
  - frontend.yaml
  - service.yaml

