apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
#  labels:
#    app: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: testapp-fe
        image: preedus/testapp-fe:v1
        imagePullPolicy: Never
        #volumeMounts:
        #- name: config-volume
        #  mountPath: /etc/config
        ports:
        - containerPort: 80
      #volumes:
      #- name: config-volume
      #  configMap:
      #    name: backend-config
      