<button (click) = "sendComment()">Send comment</button>
<button (click) = "sendUser()">Send user</button>

<div>
    {{title}}
    <div class = "chat-wrapper">
        <div class = "comments-wrapper">
            <div *ngFor = "let comment of comments" class = "comment">
                {{comment.content.data}}
            </div>
        </div>

        <div class = "users-wrapper">
            <div *ngFor = "let user of users" class = "user">
                {{user.name}}
            </div>
        </div>
    </div>

</div>

